---
- name: my wallpaper is present
  get_url:
    url: 'https://i.imgur.com/RWQKEw5.jpg'
    dest: '{{ temp_dir }}/wallpaper.png'

- name: get fedora version id
  set_fact:
    fedora_version: "{{ lookup('ini', 'VERSION_ID type=properties file=/etc/os-release') }}"

- name: default wallpaper is overwritten with my own
  copy:
    src: '{{ temp_dir }}/wallpaper.png'
    dest: '{{ item }}'
  with_items:
    - '/usr/share/backgrounds/f{{ fedora_version }}/default/tv-wide/f{{ fedora_version }}.png'
    - '/usr/share/backgrounds/f{{ fedora_version }}/default/wide/f{{ fedora_version }}.png'
  become: yes

